<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <br/><br/><br/>

  <table style="margin-left: 10px; margin-right: 10px;">
    <tr>
      <td width="20%" valign="top">
        <br/>
        <div class="float-left">
          <image-search></image-search>
          <br/><br/>
          <image-my-upload></image-my-upload>
        </div>
      </td>
      <td width="80%" valign="top" align="center">
        <image-table class="float-right"></image-table>
      </td>
    </tr>
  </table>



</div>


