<mat-card class="image-card">

  <mat-card-header>
    <mat-card-title>Title goes here</mat-card-title>
    <mat-card-subtitle>Key words goes here</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

  <table>
    <tr>
      <td width="50px">
        <mat-card-actions>
          <button mat-icon-button>
            <mat-icon aria-label="Example icon-button with a heart icon">file_download</mat-icon>
          </button>
        </mat-card-actions>
      </td>
      <td>
        <mat-card-content>
          <p>
            Description goes here
          </p>
        </mat-card-content>
      </td>
    </tr>
  </table>

</mat-card>
