<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zadatak 6</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<form th:action="@{/checkout}" th:object="${checkoutDto}" method="post">
    <table>
        <tr>
            <td><label>Knjiga: </label></td>
            <td>
                <select th:field="${checkoutDto.bookTitle}" title="Knjiga">
                    <option th:each="title : ${titles}" th:value="${title}" th:text="${title}"></option>
                </select>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('bookTitle')}" th:errors="*{bookTitle}">Knjiga Error</td>
        </tr>
        <tr>
            <td><label>Član: </label></td>
            <td>
                <select th:field="${checkoutDto.memberId}" title="Član">
                    <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.fullName}"></option>
                </select>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">Član error</td>
        </tr>
        <tr>
            <td><label>Knjižničar: </label></td>
            <td>
                <select th:field="${checkoutDto.librarianUsername}" title="Knjižničar">
                    <option th:each="librarian : ${librarians}" th:value="${librarian.username}"
                            th:text="${librarian.fullName}"></option>
                </select>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('librarianUsername')}" th:errors="*{librarianUsername}">Knjižničar error</td>
        </tr>
    </table>
    <input type="submit" value="Checkout"/>

    <br/>
    <br/>
    <br/>
    <br/>

    <th:block th:if="${!checkouts.isEmpty()}">
        <table border="1">
            <tr>
                <th>Član</th>
                <th>Knjiga</th>
                <th>Autor</th>
                <th>Knjiznicar</th>
                <th>Posuđeno</th>
                <th>Vračeno</th>
            </tr>
            <tr th:each="checkout : ${checkouts}">
                <td><label th:text="${checkout.memberName}"></label></td>
                <td><label th:text="${checkout.bookTitle}"></label></td>
                <td><label th:text="${checkout.authorName}"></label></td>
                <td><label th:text="${checkout.librarianName}"></label></td>
                <td><label th:text="${checkout.checkoutFormatted}"></label></td>
                <td><label th:text="${checkout.checkInFormatted}"></label></td>
            </tr>
        </table>
    </th:block>

</form>
</body>
</html>
