<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zadatak 6</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<h2 th:text="#{welcome.heading}"></h2>

<form th:action="@{/checkout}" th:object="${checkoutDto}" method="post">
    <table>
        <tr>
            <td><label>Knjiga: </label></td>
            <td>
                <select th:field="${checkoutDto.bookTitle}" title="Knjiga">
                    <option th:each="title : ${titles}" th:value="${title}" th:text="${title}"></option>
                </select>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('bookTitle')}" th:errors="*{bookTitle}">Knjiga Error</td>
        </tr>
        <tr>
            <td><label>Član: </label></td>
            <td>
                <select th:field="${checkoutDto.memberId}" title="Član">
                    <option th:each="member : ${members}" th:value="${member.id}" th:text="${member.fullName}"></option>
                </select>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">Član error</td>
        </tr>
        <tr>
            <td><label>Knjižničar: </label></td>
            <td>
                <select th:field="${checkoutDto.librarianUsername}" title="Knjižničar">
                    <option th:each="librarian : ${librarians}" th:value="${librarian.username}"
                            th:text="${librarian.fullName}"></option>
                </select>
            </td>
            <td style="color: red" th:if="${#fields.hasErrors('librarianUsername')}" th:errors="*{librarianUsername}">
                Knjižničar error
            </td>
        </tr>
    </table>
    <input type="submit" value="Checkout"/>
</form>

<br/>
<br/>
<br/>
<br/>

<th:block th:if="${!checkouts.isEmpty()}">
    <table border="1">
        <tr>
            <th>Član</th>
            <th>Knjiga</th>
            <th>Autor</th>
            <th>Knjiznicar</th>
            <th>Posuđeno</th>
            <th>Vračeno</th>
        </tr>
        <tr th:object="${checkout}" th:each="checkout : ${checkouts}">
            <td><label th:text="*{memberName}"></label></td>
            <td><label th:text="*{bookTitle}"></label></td>
            <td><label th:text="*{authorName}"></label></td>
            <td><label th:text="*{librarianName}"></label></td>
            <td><label th:text="*{checkoutFormatted}"></label></td>
            <td><label th:text="*{checkInFormatted}"></label>
                <form th:action="@{/checkIn}" th:object="${checkoutDto}" method="post">
                    <input type="hidden" name="memberId" th:value="${checkout.memberId}">
                    <input type="hidden" name="memberId" th:value="${checkout.bookTitle}">
                    <input type="hidden" name="bookId" th:value="${checkout.bookId}">
                    <input type="hidden" name="librarianUsername" th:value="${checkout.librarianUsername}">
                    <input th:if="${checkout.checkInFormatted == null}" type="submit" value="Checkin"/>
                </form>
            </td>
        </tr>
    </table>
</th:block>

</body>
</html>
